<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Landing page App</title>
<script type="text/javascript"></script>
</head>
<body>

<head>
    <title>Blog</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <header>
        <h1>Landing Page</h1>
    </header>

    <nav>
        <a href="index.html">Inicio</a>
        <a href="./view/blog.html">Blog</a>
        <a href="./view/sobremi.html">Sobre mí</a>
        <a href="./view/portafolio.html">Portafolio</a>
        <a href="./view/experiencia.html">Experiencia</a>
        <a href="./view/referencias.html">Referencias</a>
    </nav>

    <section id="blog">
        <h2>Blog</h2>
        <h3>Últimas entradas</h3>
        <article>
            <h4>Título de la entrada 1</h4>
            <p>Contenido de la entrada 1...</p>
        </article>
        <article>
            <h4>Título de la entrada 2</h4>
            <p>Contenido de la entrada 2...</p>
        </article>
        <article>
            <h4>Título de la entrada 3</h4>
            <p>Contenido de la entrada 3...</p>
        </article>
    </section>

    <footer>
        <p>Derechos de autor &copy; 2023. Todos los derechos reservados.</p>
    </footer>
</body>

</html>
