<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Landing page App</title>
<script type="text/javascript"></script>
</head>
<body>

<head>
    <title>Referencias</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <header>
        <h1>Referencias</h1>
    </header>

    <nav>
        <a href="../index.html">Inicio</a>
        <a href="../view/blog.html">Blog</a>
        <a href="../view/sobremi.html">Sobre mí</a>
        <a href="../view/portafolio.html">Portafolio</a>
        <a href="../view/experiencia.html">Experiencia</a>
        <a href="../view/referencias.html">Referencias</a>
    </nav>

    <section>
        <h2>Referencias</h2>
        <div class="referencia">
            <img src="../assets/img/client.png" alt="Icono del cliente">
            <h3>Cliente 1</h3>
            <blockquote>
                "Trabajar con Cristian Jonhson ha sido una experiencia increíble. Su profesionalismo, atención al detalle y habilidades técnicas nos han ayudado a alcanzar nuestros objetivos de manera exitosa."
            </blockquote>
            <p class="autor">Nombre del Cliente 1, Empresa ABC</p>
        </div>

        <div class="referencia">
            <img src="../assets/img/client.png" alt="Icono del cliente">
            <h3>Cliente 2</h3>
            <blockquote>
                "Cristian Jonhson ha sido un colaborador valioso en nuestros proyectos. Su creatividad, compromiso y capacidad para cumplir con los plazos nos ha impresionado. ¡Lo recomendamos altamente!"
            </blockquote>
            <p class="autor">Nombre del Cliente 2, Empresa XYZ</p>
        </div>

        <div class="referencia">
            <img src="../assets/img/client.png" alt="Icono del cliente">
            <h3>Cliente 3</h3>
            <blockquote>
                "Estamos extremadamente satisfechos con el trabajo de Cristian Jonhson. Ha superado nuestras expectativas con su enfoque innovador, atención al detalle y habilidades de comunicación excepcionales."
            </blockquote>
            <p class="autor">Nombre del Cliente 3, Empresa 123</p>
        </div>
    </section>

    <footer>
        <p>Derechos de autor &copy; 2023. Todos los derechos reservados.</p>
    </footer>
</body>

</html>
