<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Landing page App</title>
<script type="text/javascript"></script>
</head>
<body>

<head>
    <title>Sobre mí</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <header>
        <h1>Sobre Mi</h1>
    </header>

    <nav>
        <a href="../index.html">Inicio</a>
        <a href="../view/blog.html">Blog</a>
        <a href="../view/sobremi.html">Sobre mí</a>
        <a href="../view/portafolio.html">Portafolio</a>
        <a href="../view/experiencia.html">Experiencia</a>
        <a href="../view/referencias.html">Referencias</a>
    </nav>

    <section id="sobremi">
        <h2>Sobre mí</h2>
        <p>Hola, soy <strong>[Tu Nombre]</strong>. Soy un <strong>[tu profesión o área de experiencia]</strong> con <strong>[X]</strong> años de experiencia en <strong>[área de experiencia]</strong>. Me apasiona <strong>[tu pasión o enfoque principal]</strong>. En mi tiempo libre, disfruto <strong>[tus pasatiempos o intereses relacionados]</strong>.</p>
        <p>Si deseas conocer más acerca de mi trabajo y experiencia, no dudes en explorar mi portafolio y revisar las referencias de mis clientes anteriores.</p>
    </section>

    <footer>
        <p>Derechos de autor &copy; 2023. Todos los derechos reservados.</p>
    </footer>
</body>

</html>
